*, *::before, *::after { box-sizing: border-box; }

body {
  font-family: 'Sora', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: linear-gradient(180deg, #FFFFFF 0%, #EBEDEF 14%, #C4C9CE 28%, #d2beb8 42%, #C5AFA8 56%, #C5AFA8 70%, #C5AFA8 84%, #C5AFA8 100%);
}

p { margin: 0; }
