@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

*, *::before, *::after { box-sizing: border-box; }

body {
  font-family: 'Sora', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: linear-gradient(180deg, #FFFFFF 0%, #EBEDEF 20%, #C4C9CE 40%, #ccc0bc 55%, #bcb2ae 68%, #bcb2ae 80%, #bcb2ae 90%, #bcb2ae 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4 {
  font-family: 'Satoshi', sans-serif;
}

p { margin: 0; }
